    <h1>Learning RoR | <%= @title %></h1>
    <p><a href="home">Home</a> | About
            | <a href="contact">Contact</a>
            | <a href="help">Help</a>
    <p>This website is an exercise based on the
      <a href="http://railstutorial.org">Ruby on Rails Tutorial</a>
      by Michael Hartl.

