<!DOCTYPE html>
<html>
  <head>
    <title>Learning RoR | Contact</title>
  </head>
  <body>
    <h1>Learning RoR | Contact</h1>
    <p>Send feedback on the tutorial to the
       <a href="http://railstutorial.org/feedback">Ruby on Rails
           Tutorial feedback page</a>.
  </body>
</html>
