<!DOCTYPE html>
<html>
  <head>
    <title>Learning RoR | Home</title>
  </head>
  <body>
    <h1>Learning RoR | Home</h1>
    <p>Home | <a href="about">About</a> 
            | <a href="contact">Contact</a>
    <p>This is the home page for my learning exercise based on the
      <a href="http://railstutorial.org">Ruby on Rails Tutorial</a>
      by Michael Hartl.

  </body>
</html>
