<header>
  <%= link_away logo, root_path, :title => "Home" %>
  <nav class="round">
    <ul>
      <li><%= link_away "Home", root_path %></li>
      <li><%= link_away "Help", help_path %></li>
      <li><%= link_to "Sign in", signin_path %></li>
    </ul>
  </nav>
</header>
